In [1]:
import pandas as pd
data = {
    'Price':['$100', '$250.50', '$75', '$300'],
    'Date':['2024-01-01', '2024-01-05', '2024-01-10', '2024-01-15']
}
df = pd.DataFrame(data)

In [2]:
df

     Price        Date
0     $100  2024-01-01
1  $250.50  2024-01-05
2      $75  2024-01-10
3     $300  2024-01-15

In [3]:
df.dtypes

Price    object
Date     object
dtype: object

In [4]:
df['Price']=df['Price'].str.replace('$', '',regex=False).astype(float)

In [5]:
df['Date'] = pd.to_datetime(df['Date'])

In [6]:
df.dtypes

Price           float64
Date     datetime64[ns]
dtype: object

In [7]:
df

   Price       Date
0  100.0 2024-01-01
1  250.5 2024-01-05
2   75.0 2024-01-10
3  300.0 2024-01-15